body {
    width: 100%; 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header.cabecera {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header.cabecera .left-section,
header.cabecera .right-section {
    display: flex;
    align-items: center;
}

header.cabecera .left-section {
    justify-content: flex-start;
    gap: 20px;
}

header.cabecera .right-section {
    justify-content: flex-end;
}

header.cabecera .center-section {
    flex: 1;
    text-align: center;
}

header.cabecera h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    font-weight: bold;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* Ajusta el relleno superior para evitar que el contenido se superponga con la cabecera */
}

.contenido {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.producto {
    width: calc(33.333% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: none;
    cursor: pointer;
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
}

.producto h3 {
    margin: 10px 0;
    color: darkcyan;
}

.producto p {
    margin: 10px 0;
}

.iconos {
    display: flex;
    gap: 10px;
}

.iconoHogar,
.iconoCarrito,
.iconoUsuario,
.iconoBusqueda {
    width: 25px;
    cursor: pointer;
}

.iconoUsuario {
    background-color: transparent;
}

.menuInicio,
.menuTienda,
.menuContacto,
.menuBusqueda {
    background: none;
    border: none;
}

.searchPanel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.searchPanel input[type="text"] {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.searchPanel .closeSearchPanel {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3e00b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchPanel .closeSearchPanel:hover {
    background-color: #250055;
}