body {
    width: 100%; 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg,#250055,#5200a3,#6600ff,#3e00b3,#070055); /* Chrome 10-25, Safari 5.1-6 */ 
    background: linear-gradient(90deg,#250055,#5200a3,#6600ff,#3e00b3,#070055); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header.cabecera {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    color: white;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header.cabecera .left-section,
header.cabecera .right-section {
    flex: 1;
}

header.cabecera .center-section {
    flex: 2;
    text-align: center;
}

header.cabecera h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    font-weight: bold;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Ajusta la altura restando la altura de la cabecera */
    padding-top: 60px; /* Ajusta el relleno superior para evitar que el contenido se superponga con la cabecera */
}

.cerrarSesion {
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.cerrarSesion:hover {
    background-color: #3e00b3;
}